<%= form_for @post, html: { multipart: true } do |f| %>
    
  <% if @post.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@post.errors.count, "Error") %>, no se pudo guardar este post</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>Seleccionar Imagen</p>
  <div class="input-file">
    <p>
      <%= f.label :image, "Elegir Imagen" %><br><br>
      <%= f.file_field :image, class: "btn-file" %> 
    </p>
  </div>  
  
  <p>
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %> 
  </p>

  <p>
    <%= f.label :body, "Comentario" %><br>
    <%= f.text_area :body %>
  </p>

  <%= f.submit %>
 
<% end %>