<!DOCTYPE html>
<html>
<head>
  <title>SYP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/alerts' %>

	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.png" %>
			<% end %>
		</div>
		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog" , root_path %></li>
			<li><%= link_to "About" , about_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Google +</a></li>
			<li><a href="#">Facebook</a></li>
			<li><a href="mailto:gilda@insignia4u.com">Email</a></li>
		</ul>
		<% if !user_signed_in? %>
			<p class="sign_in">Admin Login</p>
		<% end %>
	</div>

	<div id="main_content">

		<div id="header">

			<% if current_page? (root_path)%>
				<p>Todos los Posts</p>
			<% elsif current_page?(about_path)%>
				<p>Acerca de</p>
			<% else %>
				<% if user_signed_in? %>
					<%= link_to "Volver a Todos los Post", root_path %>
				<% else %>
					<%= link_to "Volver a Todos los Post", root_path %>
				<% end %>
			<% end %>


			<% if user_signed_in? %>
				<div class="buttons">
					<button class="button"><%= link_to "Nuevo Post", new_post_path %></button>
					<button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></button>
				</div>
			<% else %>
				<div class="buttons">
					<button class="button"><%= link_to "Log In", new_user_session_path %></button>
					<button class="button"><%= link_to "Sign Up", new_user_registration_path %></button>
				</div>
			<% end %>

		</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<div id="page_wrapper">
			<%= yield %>
		</div>
		<div class="footer">
			<p>Copyright 2015 | Gilda Jerez, All rights reserved.</p>

		</div>
	</div>

</body>
</html>
